# Imports:
import(DBI)
import(RSQLite)
# Exports:
export(readGmtFileAsDF)
export(startLocalDatabase)
export(stopLocalDatabase)
export(addModelToLocalDatabase)
export(removeModelFromLocalDatabase)
export(getModelFromLocalDatabase)
export(saveModelFromLocalDatabaseToFile)
export(runGSEA)
