# Imports:
import(DBI)
import(RSQLite)
import(plyr)
# Exports:
export(readGmtFileAsDF)
export(startLocalDatabase)
export(stopLocalDatabase)
export(addModelToLocalDatabase)
export(removeModelFromLocalDatabase)
export(getModelFromLocalDatabaseAsList)
export(getModelFromLocalDatabaseAsDf)
export(saveModelFromDataFrameToGmtFile)
export(saveModelFromLocalDatabaseToFile)
export(runGSEA)
export(calculateHypergeometricTest)
export(calculateFisherTest)
export(calculateChiSquaredTest)
export(adjustPvaluesForMultipleComparisons)
export(gseaPermutationTest)
export(gseaPermutationTestPlyr)
export(gseaPermutationTestWithBinaryMatrix)

